@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    scroll-behavior: smooth;
}
:root {
    --bg-color-1: #6596de;
    --bg-color-2: #3344b5;
    --shape-color: #E4E7FF;
    --body-color: #FCFBF4;
}
@keyframes moveButton {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
.hot-offers button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff5722;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    font-family: 'Manrope';
    font-weight: 600;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    animation: moveButton 5s ease-in-out infinite;

}
.hot-offers button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

.hot-offers button:active {
    background-color: #d84315;
    transform: scale(1);
}

.hot-offers button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.8);
}

@keyframes nav-appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}
#nav {
    height: 55px;
    width: 100%;
    background: linear-gradient(15deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    padding: 0 30px;
    position: fixed;  
    top: 0;  
    left: 0;  
    z-index: 99999;
    transition: transform 0.3s ease-in;
}
.hidden {
    transform: translateY(calc(-1 * 75px));
    transition: transform 0.3s ease-in; 
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in;
    z-index: 999;
}

.phone {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    animation: 1s nav-appear cubic-bezier(0.25, 0.8, 0.25, 1);
}
#nav a {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.2);
}
#nav .phone img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

#nav .social
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
    animation: 1s nav-appear cubic-bezier(0.25, 0.8, 0.25, 1);
}
#nav .social img {
    width: 45px;
    padding: 0 10px;
}
#scroll-status-bar {
    height: 5px;
    background: linear-gradient(45deg, #FFBF00 0%, #ffd453 100%);
    position: fixed;
    top: 130px; 
    left: 0;
    width: 0;
    z-index: 9999;
    transition: width 0.1s ease;
}
#logo-header {
    background: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 0 15px;
    position: fixed;  
    top: 55px; 
    left: 0;  
    -webkit-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
}
@keyframes logo-header-img {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#logo-header img.logo {
    height: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.05);
    font-weight: 400;
    position: relative;
    top: 5px;

    animation: 1s logo-header-img cubic-bezier(0.25, 0.8, 0.25, 1);
}
@keyframes logo-header-button {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#logo-header button {
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    padding: initial;
    animation: 1s logo-header-button cubic-bezier(0.25, 0.8, 0.25, 1);
}
#logo-header button img {
    height: 30px;
    width: 40px;
}

#banner {
    position: relative;
    width: 100%;
    height: 760px;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    padding: 125px 25px 0 25px;
    color: white;
    font-family: 'Bebas Neue';
    overflow: hidden;
}

@keyframes banner-container {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#banner .content {
    animation: banner-container 2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#banner h1 {
    font-weight: 400;
    padding-top: 50px;
    font-size: 70px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.2);
    line-height: 76px;
}
#banner h4{
    font-size: 30px;
    font-weight: 400;
    background: linear-gradient(45deg, #FFBF00 0%, #ffd453 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.05);
    font-weight: 400;
}
#banner .flags {
    display: flex;
    margin: 5px 0;
}
#banner .flags h5 {
    font-size: 40px;
    padding: 0 10px 0 0;
}

#banner a {
    text-decoration: none;
}

@keyframes polygon-appear {
    0% {
        opacity: 0;
        transform: rotate(-45deg); 
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: rotate(0deg); 
    }
}

.polygon-container {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100%; 
    height: 100%; 
}

.polygon {
    width: 140%; 
    height: auto; 
    animation: polygon-appear 2s ;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#button {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px 10px 30px;
    font-family: 'Bebas Neue';
    font-weight: 200;
    color: #2C2F30;
    font-size: 25px;
    border-radius: 48px;
    text-decoration: none; 
    background: linear-gradient(-160deg, #FFFFFF 40%, #0062FF 250%);
    box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    width: 60%;
    cursor: pointer;
    position: relative;
    transition: .3s ease;
}

#button:hover {
    background: linear-gradient(-160deg, #e1ecff 40%, #0062FF 250%);
}

#button img {
    width: 22px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.shape img {
    width: 100%;
}
.shape {
    position: relative;
    bottom: 200px;
}

/* DESTINATIONS */
#destinations {
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 325px;
}

@keyframes title-appear {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#destinations .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: title-appear 1s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    opacity: 0;
    animation-delay: 1s;
}

#destinations .title h1 {
    font-weight: 200;
    font-size: 30px;
}

#destinations .title span {
    font-size: 30px;
    margin-bottom: 10px;
}

#destinations .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}

#destinations .card {
    height: 250px;
    width: 100%;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
    border-radius: 18px;
    margin: 15px 0;
    display: flex;
    justify-content: center;


    -webkit-box-shadow: 5px 15px 51px -11px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 15px 51px -11px rgba(0,0,0,0.35);
    box-shadow: 5px 15px 51px -11px rgba(0,0,0,0.35);
}

.card .white-card {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 97%;
    border-radius: 18px;
    background-color: white;
    overflow: hidden;
}

.card .white-card .bg {
    height: 85%;
    width: 100%;
    border-radius: 18px 18px;
    display: flex;
}

.card .white-card img {
    border-radius: 18px 18px 0 0;
    width: 100%;
    height: auto;
}

.slider {
    height: 100%;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    flex: 0 0 100%; 
    object-fit: cover;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dots .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.dots .dot.active {
    background-color: black;
}

[class*="reveal-item"] {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.reveal {
    opacity: 1;
    transform: translateY(0);
}

.card.reveal-card {
    opacity: 1;
    transform: translateY(0);
}

.card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
    margin: 20px 0;
}

.shape2 {
    transform: scaleX(-1);
    z-index: 99;
    bottom: 275px;
}

.numbers {
    width: 100%;
    height: 1100px;
    background: linear-gradient(45deg, var(--bg-color-2) 0%, 
    var(--bg-color-1) 100%);
    padding: 125px 25px 0 25px;
    color: white;
    font-family: 'Bebas Neue';
    overflow: hidden;
    position: relative;
    bottom: 500px;
}

.numbers .polygon-container {
    top: 250px;
    left: -250px;
    width: 110%; 
}

.numbers .polygon {
    animation: none;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);}
.numbers .title h1 {
    font-weight: 400;
    padding-top: 50px;
    font-size: 70px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.3);
    line-height: 76px;
    width: 80%;
}
.numbers .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
}
.numbers .content .box {
    padding-top: 50px;
}
.numbers .content .box h2 {
    font-size: 50px;
    font-weight: 300;
}

.numbers .content .box p {
    font-family: 'Manrope';
    font-size: 17px;
}
.numbers .images img {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 190px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
}

.numbers .images .bus1 {
    top: 750px;
    left: -50px;
    transform: rotate(5deg);
}
.numbers .images .bus2 {
    top: 250px;
    left: 275px;
    transform: rotate(-10deg);
}
.numbers .images .boxx1 {
    width: 130px;
    height: 125px;
    top: 445px;
    left: -35px;
    transform: scaleX(-1) rotate(-20deg);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.20));
}
.numbers .images .boxx2 {
    width: 130px;
    height: 125px;
    top: 605px;
    left: 300px;
    transform: scaleX(-1) rotate(20deg);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.20));
}

.shape3 {
    transform: scaleX(1);
    z-index: 99;
    bottom: 675px;
}



/* OFFERS */

#offers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 775px;
    z-index: 99;
    background-color: #2C2F30;
    padding-bottom: 80px;
}

#offers .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: title-appear 1s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    opacity: 0;
    animation-delay: 1s;
}

#offers .title h1 {
    font-weight: 200;
    font-size: 30px;
    color: white;
}

#offers .title span {
    font-size: 30px;
    margin-bottom: 10px;
}

#offers .slideshow {
    padding: 30px 0px;
    width: 100%;
    overflow: hidden;
}
#offers .slide img {
    border-radius: 10px;
    border: 3px solid var(--bg-color-1);
    width: 100%;
    height: 100%;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 35vh; 
}
.slides {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide.active {
    transform: translateX(0);
    opacity: 1;
}

.arrow {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    width: 35px;

    
}

.arrow.left-arrow {
    left: 10px;
}

.arrow.right-arrow {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.shape4 {
    bottom: 800px;
    transform: scaleX(-1);
}


@media screen and (max-width: 410px){
    #button {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65%;
    }
    
}

@media screen and (max-width: 380px){
    #button {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    
}