@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 180%;
    margin: 0;
    padding: 0;
}
:root {
    --bg-color-1: #6596de;
    --bg-color-2: #3344b5;
    --shape-color: #E4E7FF;
    --body-color: #FCFBF4;
}

@keyframes nav-appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

#nav {
    height: 55px;
    width: 100%;
    background: linear-gradient(15deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    padding: 0 30px;
    position: fixed;  
    top: 0;  
    left: 0;  
    z-index: 99999;
    transition: transform 0.3s ease-in;
}
.hidden {
    transform: translateY(calc(-1 * 75px));
    transition: transform 0.3s ease-in; 
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in;
    z-index: 999;
}

.phone {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    animation: 1s nav-appear cubic-bezier(0.25, 0.8, 0.25, 1);
}
#nav a {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.2);
}
#nav .phone img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

#nav .social
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
    animation: 1s nav-appear cubic-bezier(0.25, 0.8, 0.25, 1);
}
#nav .social img {
    width: 45px;
    padding: 0 10px;
}

#logo-header {
    background: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 0 15px;
    position: fixed;  
    top: 55px; 
    left: 0;  
    -webkit-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
}
@keyframes logo-header-img {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#logo-header img.logo {
    height: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.05);
    font-weight: 400;
    position: relative;
    top: 5px;

    animation: 1s logo-header-img cubic-bezier(0.25, 0.8, 0.25, 1);
}
@keyframes logo-header-button {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#logo-header button {
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    padding: initial;
    animation: 1s logo-header-button cubic-bezier(0.25, 0.8, 0.25, 1);
}
#logo-header button img {
    height: 30px;
    width: 40px;
}

#banner {
    position: relative;
    width: 100%;
    height: 765px;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    padding: 125px 25px 0 25px;
    color: white;
    font-family: 'Bebas Neue';
    overflow: hidden;
}

@keyframes banner-container {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#banner .content {
    animation: banner-container 2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#banner h1 {
    font-weight: 400;
    padding-top: 50px;
    font-size: 70px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.2);
    line-height: 76px;
}
#banner h4{
    font-size: 30px;
    font-weight: 400;
    background: linear-gradient(45deg, #FFBF00 0%, #ffd453 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.05);
    font-weight: 400;
}
#banner .flags {
    display: flex;
    margin: 5px 0;
}
#banner .flags h5 {
    font-size: 40px;
    padding: 0 10px 0 0;
}

#banner a {
    text-decoration: none;
}

@keyframes polygon-appear {
    0% {
        opacity: 0;
        transform: rotate(-45deg); 
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: rotate(0deg); 
    }
}

.polygon-container {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100%; 
    height: 100%; 
}

.polygon {
    width: 140%; 
    height: auto; 
    animation: polygon-appear 2s ;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px 10px 30px;
    font-family: 'Bebas Neue';
    font-weight: 200;
    color: #2C2F30;
    font-size: 25px;
    border-radius: 48px;
    text-decoration: none; 
    background: linear-gradient(-160deg, #FFFFFF 40%, #0062FF 250%);
    box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    width: 60%;
    cursor: pointer;
    position: relative;
    transition: .3s ease;
}

#button:hover {
    background: linear-gradient(-160deg, #e1ecff 40%, #0062FF 250%);
}

#button img {
    width: 22px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.shape img {
    width: 100%;
    position: relative;
    bottom: 200px;
}

