@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    scroll-behavior: smooth;
}

h1 {
    color: #191a1b;
    font-family: 'Bebas Neue', sans-serif;
}
p {
    font-family: 'Manrope', sans-serif;
}

:root {
    --bg-color-1: #6596de;
    --bg-color-2: #3344b5;
    --shape-color: #E4E7FF;
    --body-color: #FCFBF4;
}
.slideshow.mobile {
    display: block;
}

.slidesho.desktop {
    display: none;
}

.anav {
    display: none;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    visibility: visible;
}

#preloader .spinner {
    position: relative;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#preloader.fadeOut {
    animation: fadeOut 1s ease forwards;
}

.preload-excluded {
    visibility: hidden;
}

@keyframes moveButton {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
.hot-offers button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(15deg, #ff8222 0%, 
    #ff5722 100%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    font-family: 'Manrope';
    font-weight: 600;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    animation: moveButton 3s ease-in-out infinite;
    animation-delay: 1.4s;
}
.hot-offers button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

.hot-offers button:active {
    background-color: #d84315;
    transform: scale(1);
}

.hot-offers button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.8);
}

@keyframes nav-appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}
#nav {
    height: 55px;
    width: 100%;
    background: linear-gradient(15deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    padding: 0 30px;
    position: fixed;  
    top: 0;  
    left: 0;  
    z-index: 99999;
    transition: transform 0.3s ease-in;
}
.hidden {
    transform: translateY(calc(-1 * 75px));
    transition: transform 0.3s ease-in; 
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in;
    z-index: 999;
}

.phone {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    animation: 1s nav-appear cubic-bezier(0.25, 0.8, 0.25, 1);
    animation-delay: 1.4s;

}
#nav a {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.2);
}
#nav .phone img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

#nav .social
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
    animation: 1s nav-appear cubic-bezier(0.25, 0.8, 0.25, 1);
    animation-delay: 1.4s;
}
#nav .social img {
    width: 45px;
    padding: 0 10px;
}
#scroll-status-bar {
    height: 5px;
    background: linear-gradient(45deg, #FFBF00 0%, #ffd453 100%);
    position: fixed;
    top: 130px; 
    left: 0;
    width: 0;
    z-index: 9999;
    transition: width 0.1s ease;
}
#logo-header {
    background: white;
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 0 15px;
    position: fixed;  
    top: 55px; 
    left: 0;  
    -webkit-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
}

@keyframes logo-header-img {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#logo-header img.logo {
    width: 65%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.05);
    font-weight: 400;
    position: relative;
    top: 0px;

    animation: 1s logo-header-img cubic-bezier(0.25, 0.8, 0.25, 1);
    animation-delay: 1.4s;
}
@keyframes logo-header-button {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#logo-header button {
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    padding: initial;
    animation: 1s logo-header-button cubic-bezier(0.25, 0.8, 0.25, 1);
    animation-delay: 1.4s;
    cursor: pointer;
    transition: .3s ease;
}
#logo-header button:hover {
    scale: 1.05;
}
#logo-header button img {
    height: 30px;
    width: 40px;
}
#hamburger-menu {
    font-family: 'Manrope';
    font-weight: 400;
    position: fixed;
    top: 0;
    left: -70%;
    width: 70%;
    height: 100%;
    background-color: #1D232B;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 99999;
    padding: 0 10%;
    padding-top: 80px;
}
#hamburger-menu h2 {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.217);
    padding: 30px 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Manrope';
    font-size: 20px;
}
#hamburger-menu img {
    width: 25px;
}

#hamburger-menu .logo img {
    width: 300px;
    margin: 20px 0;
    position: relative;
    left: -15px;
}

#hamburger-menu .box{
    color: #B4B4B4;
    font-family: 'Manrope';
}

#hamburger-menu h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
#hamburger-menu a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}
#hamburger-menu .number div {
    display: flex;
    align-items: center;
    padding: 3px 0;
}
#hamburger-menu .number div img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
#hamburger-menu .box2 {
    margin: 20px 0 25px 0;
} 
#hamburger-menu .box2 .icons {
    margin-top: 12px;
    width: px;
    display: flex;
}
#hamburger-menu .box2 .icons img {
    width: 27px;
}
#hamburger-menu .nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
#hamburger-menu .nav a {
    position: relative;
    margin: 10px 0;
    padding: 5px 0;
    width: 25%;
    transition: color .3s ease, background-color .3s ease;
}

#hamburger-menu .nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background-color: var(--bg-color-1);
    transition: left .3s ease, right .3s ease;
}

#hamburger-menu .nav a:hover::after {
    left: 0;
    right: 0;
}

#hamburger-menu .icons a {
    color: white;
    text-decoration: none;
    font-family: 'Manrope';
    padding: 0 8px;
}
#hamburger-menu .icons a:nth-child(1){
    color: white;
    text-decoration: none;
    font-family: 'Manrope';
    padding: 0;
    padding-right: 8px;
}
#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99999;
}

#banner {
    position: relative;
    width: 100%;
    height: 760px;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    padding: 125px 25px 0 25px;
    color: white;
    font-family: 'Bebas Neue';
    overflow: hidden;
}

@keyframes banner-container {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#banner .content {
    animation: banner-container 2s cubic-bezier(0.25, 0.8, 0.25, 1);
    animation-delay: 1.4s;
}

#banner h1 {
    font-weight: 400;
    padding-top: 50px;
    font-size: 70px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.2);
    line-height: 76px;
    color: white;
    width: 100%;
}
#banner h4{
    font-size: 30px;
    font-weight: 400;
    background: linear-gradient(45deg, #FFBF00 0%, #ffd453 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.05);
    font-weight: 400;
}
#banner .flags {
    display: flex;
    margin: 5px 0;
}
#banner .flags h5 {
    font-size: 40px;
    padding: 0 10px 0 0;
    z-index: 99;
}

#banner a {
    text-decoration: none;
}

@keyframes polygon-appear {
    0% {
        opacity: 0;
        transform: rotate(-45deg); 
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: rotate(0deg); 
    }
}

.polygon-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    height: 100%; 
}

.polygon {
    width: 140%; 
    height: auto; 
    animation: polygon-appear 2s ;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    animation-delay: 1.4s;
}

#button {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px 10px 30px;
    font-family: 'Bebas Neue';
    font-weight: 200;
    color: #2C2F30;
    font-size: 25px;
    border-radius: 48px;
    text-decoration: none; 
    background: linear-gradient(-160deg, #FFFFFF 40%, #0062FF 250%);
    box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    width: 60%;
    cursor: pointer;
    position: relative;
    transition: .3s ease;
}

#button:hover {
    background: linear-gradient(-160deg, #e1ecff 40%, #0062FF 250%);
}

#button img {
    width: 22px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.shape img {
    width: 100%;
}
.shape {
    position: relative;
    bottom: 200px;
}

/* DESTINATIONS */
#destinations {
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 850px;
}

@keyframes title-appear {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#destinations .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: none;
    opacity: 1;
}

#destinations .title h2 {
    font-weight: 200;
    font-size: 30px;
}

#destinations .title span {
    font-size: 30px;
    margin-bottom: 10px;
}

#destinations .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}

#destinations .card {
    height: 250px;
    width: 100%;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
    border-radius: 18px;
    margin: 15px 0;
    display: flex;
    justify-content: center;


    -webkit-box-shadow: 5px 15px 51px -11px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 15px 51px -11px rgba(0,0,0,0.35);
    box-shadow: 5px 15px 51px -11px rgba(0,0,0,0.35);
}

.card .white-card {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 97%;
    border-radius: 18px;
    background-color: white;
    overflow: hidden;
}

.card .white-card .bg {
    height: 85%;
    width: 100%;
    border-radius: 18px 18px;
    display: flex;
}

.card .white-card img {
    border-radius: 18px 18px 0 0;
    width: 100%;
    height: auto;
}

.slider {
    height: 100%;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    flex: 0 0 100%; 
    object-fit: cover;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dots .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.dots .dot.active {
    background-color: black;
}

[class*="reveal-item"] {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.reveal {
    opacity: 1;
    transform: translateY(0);
}

.card.reveal-card {
    opacity: 1;
    transform: translateY(0);
}

.card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
    margin: 20px 0;
}

.shape2 {
    transform: scaleX(-1);
    z-index: 99;
    bottom: 350px;
}

.numbers {
    width: 100%;
    height: 1100px;
    background: linear-gradient(45deg, var(--bg-color-2) 0%, 
    var(--bg-color-1) 100%);
    padding: 100px 25px 0 25px;
    color: white;
    font-family: 'Bebas Neue';
    overflow: hidden;
    position: relative;
    bottom: 570px;
}

.numbers .polygon-container {
    top: 200px;
    left: -250px;
    width: 110%; 
}

.numbers .polygon {
    animation: none;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.numbers .title {
    margin-bottom: 10px;
}
.numbers .title h2 {
    font-weight: 400;
    padding-top: 50px;
    font-size: 70px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.3);
    line-height: 76px;
    width: 80%;
    margin-bottom: 0;
    color: white;
}
.numbers .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.numbers .content .box {
    padding-top: 50px;
}
.numbers .content .box h2 {
    font-size: 50px;
    font-weight: 300;
}

.numbers .content .box p {
    font-family: 'Manrope';
    font-size: 17px;
}
.numbers .images img {
    position: absolute;
    width: 190px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
}

.numbers .images .bus1 {
    top: 700px;
    left: -50px;
    transform: rotate(5deg);
}
.numbers .images .bus2 {
    top: 220px;
    right: -30px;
    transform: rotate(-10deg);
}
.numbers .images .boxx1 {
    width: 130px;
    height: 125px;
    top: 390px;
    left: -30px;
    transform: scaleX(-1) rotate(-20deg);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.20));
}
.numbers .images .boxx2 {
    width: 130px;
    height: 125px;
    top: 555px;
    right: -30px;
    transform: scaleX(-1) rotate(20deg);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.20));
}

.shape3 {
    transform: scaleX(1);
    z-index: 99;
    bottom: 785px;
}



/* OFFERS */

#offers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 320px;
    z-index: 99;
    padding-bottom: 30px;
}

#offers .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: title-appear 1s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    animation-delay: 3s;
}

#offers .title h2 {
    font-weight: 200;
    font-size: 30px;
}

#offers .title span {
    font-size: 30px;
    margin-bottom: 10px;
}

#offers .slideshow {
    padding: 30px 0px;
    width: 100%;
    overflow: hidden;
}
#offers .slide img {
    border-radius: 20px;
    border: 3px solid var(--bg-color-1);
    width: 100%;
    height: 100%;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 330px; 
}

#offers .slidesho {
    padding: 30px 0px;
    width: 100%;
    overflow: hidden;
}
.slidesho {
    position: relative;
    width: 100%;
    height: 330px; 
}


.slides {
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide.slide-3,
.slide.slide-1 {
    z-index: -1;
}
.slide.active {
    transform: translateX(0);
    opacity: 1;
}

.slidesdesktop {
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

.slidedesktop {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}
.slidedesktop.active {
    transform: translateX(0);
    opacity: 1;
}


.slide.slide-3,
.slide.slide-1 {
    z-index: -1;
}
.slide.active {
    transform: translateX(0);
    opacity: 1;
}

.shape4 {
    bottom: 850px;
    transform: scaleX(-1);
}


/* REVIEWS */
#reviews {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 900px;
    z-index: 99;
    padding: 0 00px;
    padding-bottom: 30px;
    overflow: hidden;
}

#reviews .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: none;
    opacity: 1;
    animation-delay: 1s;
}

#reviews .title h2 {
    font-weight: 200;
    font-size: 30px;
}

#reviews .title span {
    font-size: 30px;
    margin-bottom: 10px;
}
.slideshow2 {
    margin-top: 30px;
    width: 100%;
    height: 330px; 
    font-family: 'Manrope';
    font-weight: 500;
    position: relative;
}
.slides2 {
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 100%;
    border-radius: 20px;
    background: none;
}

.slide2 {
    transform: translateX(100%);
    opacity: 1;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
    position: relative;
    
    border-radius: 20px;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);

    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.27);
}
.slide2 .shape-review img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69%;
    z-index: -1;
}

.slide2.slide-2 .shape-review img ,
    .slide2.slide-4 .shape-review img {
    transform: scaleX(-1);
}
.slide2.slide-2{
    background: linear-gradient(45deg, var(--bg-color-2) 0%, 
    var(--bg-color-1) 100%);
}
.slide2.slide-4 {
    background: linear-gradient(45deg, var(--bg-color-2) 0%, 
    var(--bg-color-1) 100%);

}


.slide2 .top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    align-items: center;
    border-bottom: 1px solid #2c2f303c;
    width: 100%;
    font-size: 14px;
}
.slide2 .description {
    padding: 25px 22px;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}
.slide2 .bottom-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 25px;
}
.slides2 img {
    width: 22px;
}
.slides2 .bottom-container .stars img {
    width: 27px;
    padding: 0 4px;
}

.slide2 .bottom-container .ellipse img {
    border: 5px solid white;
    border-radius: 50%;
    width: 90%;
    height: 90%;
}
.slide2 .bottom-container .ellipse {
    position: relative;
    bottom: 13px;
    background: linear-gradient(45deg, var(--bg-color-2) 0%, var(--bg-color-1) 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide2.slide-2 .bottom-container .ellipse
{
    background: linear-gradient(45deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
}

.slide2.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 99;
}

.slide2.slide-3 .description ,
    .slide2.slide-5 .description {

    position: relative;
    top: 25px;
}
.slide2.slide-4 .description {

    position: relative;
    top: 20px;
}
#reviews .arrow {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    width: 35px;   
}

#reviews .arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


#reviews .arrow.left-arrow {
    left: 10px;
}

#reviews .arrow.right-arrow {
    right: 10px;
}

.shape5 {
    bottom: 800px;
    z-index: 99;
}

#contact {
    width: 100%;
    height: 1100px;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    padding: 100px 25px 0 25px;
    color: white;
    font-family: 'Bebas Neue';
    overflow: hidden;
    position: relative;
    bottom: 1050px;
}

#contact .polygon-container {
    top: 150px;
    left: 0px;
}

#contact .polygon {
    width: 150%;
    animation: none;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#contact .title h2 {
    font-weight: 400;
    padding-top: 50px;
    font-size: 70px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.3);
    line-height: 76px;
    width: 90%;
    color: white;
}

#contact .title p {
    background: linear-gradient(45deg, #FFBF00 0%, #ffd453 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;    
    font-family: 'Manrope';
    text-shadow: 4px 4px 16px rgba(0,0,0,0.3);
    font-weight: 600;
}

form.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    position: relative; 
    margin-top: 40px;
}

.form-group {
    margin-bottom: 15px;
}

#contact input, textarea,
#offers input, textarea
{
    width: 100%;
    padding: 15px 70px 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 600;
    transition: .3s ease;
    border: none;
    outline: none;
    resize: none;
}
#offers .form-group {
    padding: 0 5px;
}
.form-rezervare {
    padding: 0 15px;
}

#contact button:hover,
#offers button:hover {
    background-color: #ffd453;
}

#contact button,
#offers button {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px 10px 30px;
    font-family: 'Bebas Neue';
    font-weight: 200;
    color: #2C2F30;
    font-size: 25px;
    border-radius: 48px;
    text-decoration: none; 
    background: linear-gradient(-160deg, #FFFFFF 40%, #0062FF 250%);
    box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 10px 10px 47px -17px rgba(0, 0, 0, 0.66);
    width: 65%;
    cursor: pointer;
    position: relative;
    transition: .3s ease;
    outline: none;
    border: none;
}

#offers button {
    -webkit-box-shadow: 0px 18px 21px -4px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 18px 21px -4px rgba(0,0,0,0.18);
    box-shadow: 0px 18px 21px -4px rgba(0,0,0,0.18);
    margin-left: 12px;
    background: linear-gradient(45deg, var(--bg-color-1) 0%, 
    var(--bg-color-2) 100%);
    color: white;
    width: 60%;
    margin: 30px auto 50px auto;
}

form.contact-form .form-group {
    position: relative;
}
#contact img,
#offers form img {
    position: absolute;
    right: 30px;
    top: 13px;
    width: 22px;
}


#contact .form-group:nth-child(3) img,
#offers .form-group:nth-child(3) img {
    width: 24px;
    right: 27px;
}
#offers button img,
    #contact button img {
    position: relative;
    top: -1px;
    left: 0px;
    margin-left: 10px;
    width: 20px;
}
#offers .contact-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 15px;
}

#offers .form-group {
    position: relative;
}

#offers input[type="text"],
#offers input[type="tel"],
#offers textarea,
#offers select {
    padding: 15px 50px 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 600;
    transition: .3s ease;
    border: none;
    outline: none;
    resize: none;
    border: 1px solid #757575;
    width: 100%; /* Ensures they occupy full width of the container */
    box-sizing: border-box; /* Ensures padding is included in width calculation */
}

#offers select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f9f9f9;
    background-image: url('icons/arrow-down.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    color: #757575;
    background: none;
}

#offers input[type="text"]:focus,
#offers input[type="tel"]:focus,
#offers select:focus {
    outline: none;
    border-color: var(--bg-color-1);
    background-color: #fff;
    color: black;
}
#offers textarea {
    resize: none;
}

#offers .form-title h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 76px;
    width: 100%;
    color: #191A1B;
    padding: 15px 15px 0 15px;
}
#offers .comment {
    font-family: 'Manrope';
    font-size: 14px;
    padding: 0px 0px 30px 0px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}
#offers .comment span {
    display: block;
    font-size: 24px;
}
.select-forms {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0px; 
}
.select-forms .form-group {
    flex: 1; 
    position: relative;
}
#offers .comment2 {
    font-family: 'Manrope';
    font-size: 14px;
    padding: 15px 0px 15px 10px;
    font-weight: 600;
    width: 90%;
}
/* FOOTER */

#footer {
    height: 650px;
    width: 100%;
    background-color: #1D232B;
    position: relative;
    bottom: 1250px;
    border-top: 30px solid #E3E6F4;
    -webkit-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.10);

    padding: 5px 30px;
}

#footer img {
    width: 25px;
}

#footer .logo img {
    width: 300px;
    margin: 20px 0;
    position: relative;
    left: -15px;
}

#footer .box{
    color: #B4B4B4;
    font-family: 'Manrope';
}

#footer h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
#footer a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}
#footer .number div {
    display: flex;
    align-items: center;
    padding: 3px 0;
}
#footer .number div img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
#footer .box2 {
    margin: 20px 0 25px 0;
} 
#footer .box2 .icons {
    margin-top: 12px;
}
#footer .box2 .icons img {
    width: 30px;
    margin: 0 15px 0 0px;
}
#footer .credentials {
    font-family: 'Manrope';
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.263);
}
#footer .credentials .bar {
    color: rgba(255, 255, 255, 0.263);
    padding: 0 5px;
}
#footer .nav {
    font-family: 'Manrope';
    color: white;
    display: flex;
    padding: 30px 0 30px 0;
    flex-direction: column;
    justify-content: center;
}
#footer .nav a {
    font-weight: 500;
    font-size: 14px;
    margin: 0 25px;
}
#footer .nav a.first {
    margin: 0 25px 0 0;
}
#footer .nav span {
    color: rgba(255, 255, 255, 0.263);
}
.developed {
    font-family: 'Manrope';
    color: white;
    font-size: 14px;
}
#footer .developed a {
    color: #0062FF;
    font-weight: 800;
}




body.galerie .shape {
    bottom: 800px;
    z-index: 99;
}
body.galerie #destinations{
    padding: 0;
    padding-top: 1000px;
    padding-bottom: 0px;
    height: auto;
}
body.galerie #destinations .title
{
    margin-bottom: 50px;
    margin-top: 30px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.gallery-item {
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gallery-item.img1 {
}

.gallery-item:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    background-color: #191a1b87;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
}

.left-arrow {
    left: 30px;
}

.right-arrow {
    right: 30px;
}

@media screen and (max-width: 410px){
    #button {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65%;
    }
    #contact button {
        width: 70%;
    }

    .slideshow {
        height: 310px; 
    }
    
    .slideshow2 {
        height: 350px;    
    }
    .slide2.slide-5 .description {
        top: 30px;
    }
    
    #footer .credentials {
        font-size: 13px;
    }
    #footer .nav a {
        font-size: 13px;
    }
    #offers button {
        width: 65%;
    }
    #hamburger-menu .box2 .icons img {
        width: 26px;
    }
    #hamburger-menu .icons a {
        padding: 0 7px;
    }
    body.galerie .shape {
        bottom: 840px;
        z-index: 99;
    }
    .gallery-item {
        max-width: 300px;
    }
}

@media screen and (max-width: 380px){
    #nav a {
        font-size: 14px;
    }
    #hamburger-menu{
        padding: 0 5%;
        padding-top: 100px;
    }
    #button {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    
    #hamburger-menu .box2 .icons img {
        width: 25px;
    }
    #hamburger-menu .icons a {
        padding: 0 5px;
    }

    .slideshow {
        height: 300px; 
    }
    
    .slideshow2 {
        height: 345px;    
    }
    .shape5 {
        bottom: 808px;
        z-index: 99;
    }
    #footer .credentials {
        font-size: 13px;
    }
    #footer .nav a {
        font-size: 13px;
    }
    #contact .title h2 {
        font-weight: 400;
        padding-top: 50px;
        font-size: 70px;
        text-shadow: 4px 4px 16px rgba(0,0,0,0.3);
        line-height: 76px;
        width: 100%;
        color: white;
    }
    #offers button {
        width: 65%;
    }
    .numbers .images img {
        width: 160px;
    }
    .numbers .images .boxx1,
        .numbers .images .boxx2 {
        width: 110px;
        height: 115px;
        
    }
}

@media screen and (max-width: 365px
) {
    #banner #button {
        width: 80%;
    }
    #contact button {
        width: 80%;
    }
    .shape5 {
        bottom: 820px;
    }
    #destinations {
        padding: 30px 30px;
    }
    .slide2 .description {
        padding: 25px 15px;
    }
    .numbers .title h2 {
        width: 100%;
    }
    #reviews {
        bottom: 850px;
    }
    .slide2 .description {
        padding: 25px 10px;
    }
    .shape5 {
        bottom: 830px;
    }
    #contact .title h2 {
        font-size: 65px;
    }
    #footer .nav a {
        margin: 0 15px;
    }
}


@media screen and (min-width: 411px){
    .numbers {
        bottom: 580px;
    }
    .numbers .title h2 {
        width: 70%;
    }
    .slide2 .description {
        padding: 25px 20px;
    }
}

@media screen and (min-width: 460px){
    #banner h1 {
        width: 80%;
    }
    #logo-header img.logo {
        width: 50%;
    }
    .slideshow {
        height: 350px;
    }
    #offers .comment {
        width: 70%;
    }
    .numbers {
        bottom: 600px;
    }
    .numbers .title h2 {
        width: 60%;
    }
    #contact .title h2 {
        padding-top: 100px;
        width: 80%;
    }
}

@media screen and (min-width: 493px){
    .numbers {
        bottom: 630px;
    }
    .numbers .title h2 {
        width: 60%;
        padding-top: 100px;
    }
    .slideshow {
        height: 370px;
    }
    #contact {
        bottom: 1100px;
    }

    #contact .title h2 {
        padding-top: 100px;
        width: 70%;
    }

}
@media screen and (min-width: 535px)
{
    .slide2 .description {
        padding: 25px 35px;
    }
    .shape3 {
        bottom: 805px;

    }
    .numbers .title h2 {
        width: 55%;
        padding-top: 100px;
    }
}

@media screen and (min-width: 555px)
{
    .numbers {
        bottom: 650px;
    }
    .shape3 {
        bottom: 855px;
    }
    #reviews {
        bottom: 1000px;
    }

    .slide2 .description {
        padding: 25px 48px;
    }
    .slideshow {
        height: 390px;
    }
    form.contact-form {
        margin: 40px 0;
    }
    #banner h1 {
        width: 70%;
    }
}
@media screen and (min-width: 595px)
{
    .slideshow {
        height: 410px;
    }
    .numbers {
        bottom: 680px;
    }
    .numbers .title h2 {
        width: 55%;
        padding-top: 125px;
    }
    #logo-header img.logo {
        width: 40%;
    }
    #contact {
        bottom: 1150px;
    }
    #contact .title h2 {
        padding-top: 100px;
        width: 60%;
    }
    .slide2 .description {
        padding: 25px 65px;
    }
    .numbers .images .bus1 {
        top: 760px;
    }
    .numbers .images .bus2 {
        top: 280px;
    }
    .numbers .images .boxx1 {
        top: 450px;
    }
    .numbers .images .boxx2 {
        top: 615px;
    }
    .shape3 {
        bottom: 885px;
    }
    #reviews {
        bottom: 1050px;
    }
    #destinations {
        bottom: 950px;
    }
    #banner h1 {
        width: 68%;
    }
    #destinations .card {
        height: 300px;
    }
    #banner #button {
        width: 40%;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1100px;
        padding-bottom: 0px;
        height: auto;
    }
    
}

@media screen and (min-width: 636px)
{
    .numbers {
        bottom: 700px;
    }
    .numbers .title h2 {
        width: 55%;
        padding-top: 125px;
    }
    .shape3 {
        bottom: 940px;
    }
    .gallery-item {
        max-width: 300px;
    }
}

@media screen and (min-width: 660px)
{
    #logo-header img.logo {
        width: 32%;
    }
    #banner h1 {
        width: 60%;
    }
    .shape {
        bottom: 230px;
    }
    .shape3 {
        bottom: 980px;
    }
    .slideshow {
        height: 500px;
    }
    .shape2 {
        bottom: 350px;
    }
    .numbers {
        bottom: 750px;
    }
    #reviews {
        bottom: 1200px;
    }
    #destinations {
        bottom: 1100px
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1250px;
        padding-bottom: 0px;
        height: auto;
    }
    body.galerie .shape {
        bottom: 1000px;
        z-index: 99;
    }
    .shape5 {
        bottom: 1000px;
    }
    #contact {
        bottom: 1400px;
    }
    #footer {
        bottom: 1500px;
    }
    .slideshow {
        height: 400px;
    }
    .slides {
        width: 70%;
    }
    .gallery {
        gap: 20px;
    }
}

@media screen and (min-width: 747px){
    .shape {
        bottom: 270px;
    }
    #offers {
        bottom: 500px;
    }
    .slideshow {
        height: 500px;
    }
    .shape3 {
        bottom: 1200px;
    }
    .shape2 {
        bottom: 550px;
    }
    .numbers {
        bottom: 970px;
    }
    #reviews {
        bottom: 1400px;
    }
    #destinations {
        bottom: 1300px
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1000px;
        height: auto;
    }
    #destinations .card {
        height: 350px;
    }
    .shape5 {
        bottom: 1150px;
    }
    #contact {
        bottom: 1550px;
    }
    #footer {
        bottom: 1700px;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1450px;
        padding-bottom: 0px;
        height: auto;
    }
    body.galerie .shape {
        bottom: 1160px;
        z-index: 99;
    }
}

@media screen and (min-width: 768px){
    .slideshow.mobile {
        display: none;
    }
    
    .slidesho.desktop {
        display: block;
        height: 100%;
    }
    .slidedesktop {
        height: 350px;
        overflow: hidden;
        margin: 20px 10px;
        border: 3px solid var(--bg-color-1);
        border-radius: 15px;
    }
    
    .slidedesktop img {
        width: 100%;
    }
    
    .polygon {
        width: 110%;
    }
    #banner #button {
        width: 30%;
    }
    .shape img {
        height: 380px;
    }
    #offers {
        bottom: 400px;
    }
    .slideshow {
        height: 430px;
    }
    .slides {
        width: 70%;
    }
    #offers {
        padding-bottom: 200px;
    }
    .shape2 {
        bottom: 600px;
    }
    .numbers .content {
        flex-direction: row;
    }
    .numbers .content .box {
        padding: 100px 20px;
    }
    .numbers .title{
        margin-top: 40px;
    }
    .numbers .title h2 {
        width: 100%;
    }
    .numbers .images .bus1 {
        top: 550px;
    }
    .numbers .images .bus2 {
        top: 285px;
    }
    .numbers .images .boxx1 {
        top: 350px;
    }
    .numbers .images .boxx2 {
        top: 500px;
    }
    .numbers {
        height: 950px;
    }
    .slides2
     {
        width: 60%;
     }
    .slides2 .description {
        padding: 25px 20px;
    }
    #destinations .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1000px;
        height: auto;
    }

    .card1 { grid-area: 1 / 1 / 2 / 2; }
    .card2 { grid-area: 1 / 2 / 2 / 3; }
    .card3 { grid-area: 2 / 1 / 3 / 2; }
    .card4 { grid-area: 2 / 2 / 3 / 3; }
    .card5 { position: relative; left: 55%;}

    #destinations .card {
        height: 250px;
    }
    .shape5 {
        bottom: 1250px;
    }
    #contact button {
        width: 50%;
    }

    .slidesdesktop {
        padding: 0 40px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        transition: .3s ease;
    }
    .slidedesktop {
        height: 240px;
    }
    .slide-1 { grid-area: 1 / 1 / 2 / 2; }
    .slide-2 { grid-area: 1 / 2 / 2 / 3; }
    .slide-3 {
         position: relative;
         left: 55%;
    }
    .slidedesktop img {
        height: 100%;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1450px;
        padding-bottom: 0px;
        height: auto;
    }
    body.galerie .shape {
        bottom: 1200px;
        z-index: 99;
    }
    .gallery-item {
        max-width: 300px;
    }
} 
@media screen and (min-width: 845px ) {
    .slidedesktop {
        height: 265px;
    }
    body.galerie .shape {
        bottom: 1200px;
        z-index: 99;
    }
}
@media screen and (min-width: 920px ) {
    .slidedesktop {
        height: 285px;
    }
    #contact {
        bottom: 1600px;
    }
    body.galerie .shape {
        bottom: 1250px;
        z-index: 99;
    }
}
@media screen and (min-width: 980px) {
    .slidedesktop {
        height: 310px;
    }
    #banner {
        padding: 155px 50px 0 50px;
    }
    #logo-header button
    {
        display: none;
    }
    .anav {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: 1s logo-header-button cubic-bezier(0.25, 0.8, 0.25, 1);
        animation-delay: 1.4s;
    }

    .anav a.active {
        color: #2C2E30;
    }
    #contact {
        bottom: 1650px;
    }
    .anav a {
        position: relative;
        font-family: 'Manrope';
        text-decoration: none;
        color: #2C2E30;
        width: 100px;
        padding: 5px 0;
        margin: 0 30px;
        text-align: center;
        font-weight: 600;
        border: none;
        transition: color .3s ease, background-color .3s ease;
    }
    
    .anav a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
        height: 3px;
        background-color: var(--bg-color-1);
        transition: left .3s ease, right .3s ease;
    }
    
    .anav a:hover::after {
        left: 0;
        right: 0;
    }
    .anav a.galerie {
        margin-right: 15px;
    }
    #nav {
        padding: 0 65px;
    }
    #logo-header {
        padding: 0 50px;
    }
    #nav .social img {
        margin: 0 10px;
    }
    .shape img {
        height: 480px;
    }
    #logo-header img.logo {
        width: 58%;
    }
    .polygon {
        width: 60%;
    }
    .numbers .polygon-container {
        left: 0;
        top: 0;
    }
}
@media screen and (min-width: 1050px) {
    .slidedesktop {
        height: 335px;
    }
    
}
@media screen and (min-width: 1000px) {
    #logo-header img.logo {
        width: 50%;
    }
    
}
@media screen and (min-width: 1000px) {
    .slide2 .bottom-container {
        bottom: 40px;
    }
    #logo-header img.logo {
        width: 40%;
    }
    #banner #button {
        width: 25%;
    }
    #banner {
        height: 900px;
    }
    #banner h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 100px;
        line-height: 110px;
        width: 70%;
    }
    #banner h4 {
        font-size: 50px;
    }
    #banner .flags h5 {
        font-size: 60px;
    }
    #button {
        padding: 18px 30px 16px 30px;
    }
    #banner #button {
        width: 30%;
    }
    #offers .title h2 {
        font-size: 40px;
    }
    #offers {
        bottom: 500px;
    }
   
    .form-rezervare {
        padding: 0 60px;
    }
    #offers .form-title h2 {
        font-size: 40px;
    }
    #offers .comment {
        font-size: 18px;
        width: 40%;
    }
    #offers .comment span {
        font-size: 30px;
    }
    .form-rezervare {
        padding: 0 200px;
    }
    #offers{
        padding-bottom: 100px;
    }
    .numbers {
        padding: 70px 60px 0 60px;
        height: 840px;
    }
    .numbers .title h2 {
        font-size: 80px;
        padding-top: 80px;
    }
    .numbers .content .box {
        padding: 100px 50px;
    }
    .numbers .images .bus1 {
        top: 490px;
    }
    .numbers .images .bus2 {
        top: 285px;
    }
    .numbers .images .boxx1 {
        top: 320px;
    }
    .numbers .images .boxx2 {
        top: 500px;
    }
    #offers button {
        padding: 18px 30px 16px 30px;
        margin-top: 50px;
    }
    .slideshow2 {
        height: 380px;
    }
    .slides2 {
        width: 50%;
    }
    #contact {
        bottom: 1700px;
    }
    #reviews .title h2 {
        font-size: 40px;
    }
    #destinations .title h2{
        font-size: 40px;
    }
    .slide2 .description {
        font-size: 17px;
        padding: 25px 55px;
    }
    #contact .title h2 {
        font-size: 90px;
        line-height: 100px;
        width: 60%;
        padding-top: 150px;
    }
    #contact .title p {
        font-size: 18px;
    }
    #contact button {
        padding: 18px 30px 16px 30px;
        margin-top: 50px;
    }
    #contact {
        padding: 100px 60px 0 60px;
    }
    .slide2 .top-info {
        font-size: 16px;
    }
    #destinations {
        padding: 0 60px;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1000px;
        height: auto;
    }
    .numbers .content .box h2 {
        font-size: 60px;
    }
    .numbers .content .box p {
        font-size: 18px;
    }
    #footer a {
        font-size: 18px;
    }
    #footer .nav a {
        font-size: 16px;
    }
    #footer .credentials {
        font-size: 16px;
    }
    #footer {
        padding: 5px 60px;
    }
    #contact .polygon {
        width: 65%;
        top: -10%;
        left: 40%;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1450px;
        padding-bottom: 0px;
        height: auto;
    }
    body.galerie .shape {
        bottom: 1250px;
        z-index: 99;
    }
    .lightbox-content {
        max-width: 60%;
        max-height: 60%;
    }
    .arrow {
        background-color: #2C2E30;
    }
    .gallery-item {
        max-width: 300px;
    }
}
@media screen and (min-width: 1100px)
{
    .slidedesktop {
        height: 295px;
    }
    .slidesdesktop{
        padding: 0 100px;
    }
}
@media screen and (min-width: 1270px) {
    #logo-header img.logo {
        width: 35%;
    }
    .slidedesktop {
        height: 325px;
    }
    .numbers .content .box {
        padding: 100px 70px;
    }
    .slides2 {
        width: 45%;
    }
}
@media screen and (min-width: 1300px) {
    .slidedesktop {
        height: 295px;
    }
    .slidesdesktop{
        padding: 0 200px;
    }
    #destinations .card {
        height: 300px;
    }

}

@media screen and (min-width: 1450px) {
    #logo-header img.logo {
        width: 25%;
    }
    .slidedesktop {
        height: 355px;
    }
    #destinations .card {
        height: 300px;
    }
    #destinations {
        padding: 0 300px;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1000px;
        height: auto;
    }
    .numbers .content .box h2 {
        font-size: 75px;
    }
    .numbers .content .box p {
        font-size: 20px;
    }
    .slides2 {
        width: 35%;
    }
    body.galerie #destinations{
        padding: 0;
        padding-top: 1450px;
        padding-bottom: 0px;
        height: auto;
    }
    body.galerie .shape {
        bottom: 1250px;
        z-index: 99;
    }

}

@media screen and (min-width: 1700px) {

    #banner {
        padding: 155px 140px 0 140px;
    }
    .slidedesktop {
        height: 405px;
    }
    
    #banner h1 {
        width: 45%;
    }
    
    .slidesdesktop {
        padding: 0 350px;
    }
    .form-rezervare {
        padding: 0 500px;
    }
    #contact {
        padding: 100px 140px;
    }
    #contact .title h2 {
        width: 40%;
    }
    #contact .title p {
        padding-bottom: 30px;
    }
    #logo-header img.logo {
        width: 18%;
    }
    #logo-header {
        padding: 0 140px;
    }
    #nav {
        padding: 0 155px;
    }
    .polygon {
        width: 60%;
    }
}